# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
env.py

# Virtual Environments
venv/
env/
*.env
/.vscode/
# IDE files
.idea/

# Compiled Python files
*.pyc
*.pyo

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# Node.js
node_modules/
